.container {
  width: 100%;
  height: 75px;
}
.navGroup {
  width: 387px;
  height: 25px;
}
.container,
.navGroup,
.iconsGrop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-left: 165px;
}
.iconsGrop {
  padding-right: 165px;
  img {
    margin-right: 10px;
  }
}
