.container {
  gap: 20px;
  width: 1111px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 35px;
  align-items: start;
}
.card {
  height: 200px;
  border-radius: 10px;
}
.page_wrapper {
  display: grid;
  height: 100%;
  place-items: center;
  background-color: #f3f3f3;
}
.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}
