.container {
  gap: 20px;
  width: 1111px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 35px;
  align-items: start;
}
.card {
  height: 200px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
.page_wrapper {
  display: grid;
  height: 100%;
  place-items: center;
}
