.page_wrapper {
  .mainImage {
    width: 150px;
    height: 160px;
  }
}
.container {
  align-items: center;
  .title {
    margin-left: 70px;
    font-size: 30px;
  }
}
.header {
  padding-top: 20px;
  align-items: center;
  .product {
    margin-right: 130px;
  }
}
.line {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  background-color: #000000;
}
.productList {
  margin: 60px;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itmesBox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 330px;
  align-items: center;
  display: flex;
}
.total {
  margin-right: 90px;
  width: 32px;
}
.footer {
  display: grid;
  justify-content: end;
  margin-right: 100px;
}
.total {
  display: flex;
}
.subTotal {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}
.sum {
  font-size: 20px !important;
  margin-left: 20px !important;
}
.product,
.price,
.quantity,
.total,
.sum {
  font-family: "Courier New", Courier, monospace;
}
.removeBox {
  width: 35px;
  height: 35px;
}
.remove {
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    width: 35px;
    height: 35px;
  }
}
.button {
  display: flex;
  height: 40px;
  width: 140px;
  justify-content: center;
  background-color: black;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: transparent !important;
    border: 1px solid black;
    text-decoration: none !important;
    color: black; // Измените цвет текста при наведении на кнопку
  }
}
