.page_wrapper {
  img {
    width: 150px;
    height: 160px;
  }
}
.container {
  align-items: center;
}
.header {
  padding-top: 20px;
  align-items: center;
  .product {
    margin-right: 160px;
  }
}
.line {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  background-color: #000000;
}
.productList {
  margin: 60px;
  padding: 30px;
  background-color: #f3f3f3;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.itmesBox {
  display: flex;
  justify-content: space-between;
}
