.container {
  height: 280px;
  width: 245px;
  padding: 0px;
  border-radius: 10px;
  position: relative;

  .imageCard {
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  img {
    height: 90%;
    width: 70%;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.2s ease;

    &:hover {
      height: 90%;
      width: 70%;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  &:hover .productName::after {
    width: 100%;
  }
}

.productName {
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;
  padding-top: 5px;
  position: relative;
}

.productName::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #000;
  position: absolute;
  bottom: -3px; /* На 3px ниже нижнего края текста */
  left: 0;
  transition: width 0.3s ease;
}

.price {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #56b280;
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
