.container {
  width: 1111px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 35px;
  align-items: start;
}
.card {
  height: 230px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.page_wrapper {
  display: grid;
  height: 100%;
  place-items: center;
  background-color: #f3f3f3;
}
.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  margin-top: 0;
}
.description {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(142, 142, 142);
  font-size: small;
}
