@font-face {
  font-family: "DrukFont";
  src: url("../../public/fonts/Druk-Medium-Trial.otf") format("otf");

  font-weight: normal;
  font-style: normal;
}

button {
  background-color: #56b280;
  border: none;
  &:hover {
    background-color: #6dac8a;
  }
  &:active {
    background-color: #92b09f;
  }
  color: #fff;
}
a {
  text-decoration: none;
  color: black;
  :hover {
    text-decoration: underline;
  }
  :active {
    color: #92b09f;
  }
}
body {
  margin: 0px;
}
p {
  font-family: "Courier New", Courier, monospace;
}
